* {
	padding:0;
	margin:0;
}

body {
	color: #333;
	font: 14px Sans-Serif;
	padding: 1%;
	background: #eee;
}

h1 {
	text-align: center;
	padding: 0px 0 20px 0;
	margin: 0;
}

table {
	background-color: #F3F3F3;
	border-collapse: collapse;
	margin: 15px 0;
	width: 100%;
}

th {
	background-color: #FE4902;
	color: #FFF;
	cursor: pointer;
	padding: 5px 10px;
}

td, th {
	text-align: center;
}

th.left, td.left {
	text-align: left;
}

th.right, td.right {
	text-align: right;
}

a {
	text-decoration: none;
}

td a {
	color: #663300;
	display: block;
	padding: 5px 10px;
}

th a {
	padding-left: 0
}

td:first-of-type a {
	padding-left: 35px;
}
th:first-of-type {
	padding-left: 35px;
}

tr:nth-of-type(odd) {
	background-color: #E6E6E6;
}

tr:hover td {
	background-color:#CACACA;
}

tr:hover td a {
	color: #000;
}

.upload-btn-wrapper {
	position: relative;
	overflow: hidden;
	display: inline-block;
}

.upload-btn-wrapper a, .upload-btn-wrapper button {
	/*border: 2px solid gray;*/
	color: gray;
	background-color: white;
	padding: 4px 10px;
	border-radius: 8px;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
}

.upload-btn-wrapper input[type=file] {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}

input.holo[type='text'] {
	width: 200px;
	font-size: 16px;
	margin: 0;
	padding: 8px 8px 6px 8px;
	outline: none;
	border: none;
	background: bottom left linear-gradient(#a9a9a9, #a9a9a9) no-repeat, bottom center linear-gradient(#a9a9a9, #a9a9a9) repeat-x, bottom right linear-gradient(#a9a9a9, #a9a9a9) no-repeat;
	background-size: 1px 6px, 1px 1px, 1px 6px;
}
input.holo[type='text']:hover, input.holo[type='text']:focus {
	background: bottom left linear-gradient(#0099cc, #0099cc) no-repeat, bottom center linear-gradient(#0099cc, #0099cc) repeat-x, bottom right linear-gradient(#0099cc, #0099cc) no-repeat;
	background-size: 1px 6px, 1px 1px, 1px 6px;
}

button.action {
	background: #eee;
	color: black;
	padding: 2px 5px;
	/*text-align: center;*/
	text-decoration: none;
	display: inline-block;
	border-radius: 4px;
	cursor: pointer;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 3px 9px 0 rgba(0,0,0,0.19);
}

/* The popup form - hidden by default */
.form-popup {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	display: none;
	background-color: rgba(22,22,22,0.5); /* complimenting your modal colors */
	text-align: center;
}

/* Add styles to the form container */
.action-form-container {
	width: 25%;
	max-width: 640px;
	max-height: 480px;
	padding: 10px;
	background-color: #eee;
	position:fixed;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
